@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Teko:wght@500;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

.heading
{
  text-align: center;
  font-family: '', sans-serif;
  font-weight: bolder;
}

.row
{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  /* background-image: url('images/background.jpg'); */
}

.bg-image
{
  background-image: url('images/background.jpg');
  /* filter: blur(8px);
 -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.col-md-4
{
  border-right: 2px solid grey;
}

.wrapper
{
  width: 550px;
}

.data-in
{
  padding-left: 80px;
}

img
{
  padding-right: 10px;
  padding-top: 10px;
}
.h-intro
{
  text-align: center;
  padding-bottom: 20px;
}

.h-intro p
{
  font-style: italic;
}

#button
{
  padding-top: 20px;
  text-align: center;
}
