@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Reenie+Beanie&family=Sacramento&family=Stick&display=swap');
.heading h1
{
  text-align: center;
  font-family: 'Fredericka the Great', sans-serif;
  font-weight: bolder;
  font-size: 70px;
}
.heading p, .column p
{
  text-align: center;
  font-family: 'Stick', sans-serif;
  font-size: 20px;
  color: black;
}

.column
{
  text-align: left;
  color: black;
  padding-top: 40px;
  font-size: 30px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

#row
{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  background-image: url('../images/top.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* .col-md-4
{
  border-right: 2px solid white;
  padding-top: 10px;
} */

.wrapper
{
  color: black;
}

.data-in
{
  padding-left: 80px;
  width: 550px;
}

img
{
  padding-right: 10px;
  padding-top: 10px;
}
.h-intro
{
  text-align: center;
  padding-bottom: 20px;
  color: black;
}

.h-intro p
{
  font-style: italic;
}

#button
{
  padding-top: 20px;
  text-align: center;
}
